.HomeContainer {
  min-height: calc(100vh - 44px);
  background-color: #fff;
}
.banner {
  position: relative;
}
.bannerText {
  position: absolute;
  bottom: 6px;
}
.update {
  position: relative;
}
.updateText {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.tab {
  flex: 1;
  text-align: center;
  color: #2B2C43;
  opacity: 0.6;
}
.tabActive {
  font-weight: bold;
  opacity: 1;
  position: relative;
}
.tabActive::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 3px;
  background: #1A77F2;
  bottom: -7px;
  left: 50%;
  transform: translate(-50%, 0);
}
.typeList {
  overflow-x: auto;
  height: 45px;
}
.typeTab {
  height: 30px;
  padding: 0 8px;
  border: 1px solid #CECECE;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  min-width: max-content;
  margin-right: 10px;
  transition: all 0.5s;
}
.typeActive {
  color: #fff;
  background: #1A77F2;
  box-shadow: 0px 1px 1px 0px rgba(26,119,242,0.32);
}
.typeTab:last-child {
  margin-right: 0;
}

.productList {
  background: rgb(232, 241, 253);
}

.showContainer {
  width: 100%;
  overflow: hidden;
}

.hideContainer {
  width: 0;
  overflow: hidden;
  height: 0;
}

.validTime {
  width: 100%;
  background-image: url('/static/image/timeBg.png');
  background-size: 100% 100%;
  height: 45px;
  margin-bottom: 12px;
}
.validTimeContent {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 7px;
}
.validTime svg {
  width: 30px;
  height: 20px;
}

.activityCover {
  width: 100%;
  height: 400px;
  position: relative;
}